<div [ngClass]="{online : !userOfline}" class="wrapper">
    <div class="body">
        <div class="picture">
            <img [src]='url' alt="">
            <p *ngIf="userOfline; else user_ofline" style="color: red;">Ofline</p>
            <ng-template #user_ofline>
                <p style="color: green;">Online</p>
            </ng-template>
        </div>
        <div class="user-data">
            <h2>{{name}}</h2>
            <div class="post-text">{{status}}</div>
        </div>
    </div>
    <button class="network" (click)="userOfline = !userOfline">
        {{userOfline ? "Ofline" : "Online"}}
    </button>
</div>